.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(73% - 20px);
  bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 30px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.button {
  border-radius: 8px;
  color: white;
  background-color: ivory;
  border: none;
  text-align: center;
  box-shadow: 0 1px #999;
}

.button:hover {
  border-radius: 8px;
  color: darkslateblue;
  border: 1px solid midnightblue;
  text-align: center;
}

.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}